<%- include('./_head.ejs', { id: null, page: 'login' }) %>

<main>
  <h2 class="title">로그인</h2>
  <form id="login-form">
    <label for="username">사용자 이름</label>
    <input type="text" name="username" placeholder="사용자 이름 입력" required>
    <label for="password">패스워드</label>
    <a href="/forgot_password" id="login-pwforgot">패스워드가 기억나지 않나요?</a>
    <input type="password" name="password" placeholder="패스워드 입력" required>
    <button type="submit">로그인</button> 혹은 <a href="/register">가입하기</a>
  </form>
</main>

<%- include('./_tail.ejs') %>
